# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pytest_cache/
*.mypy_cache/
*.coverage
.coverage.*
.cache
.pytest_cache/
.pyre/
*.egg-info/
dist/
build/
*.egg
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py
.env
.env-prod
.env-staging

# Docker
*.env
docker-compose.override.yml
docker-compose.*.override.yml
**/docker-compose.override.yml
**/docker-compose.*.override.yml

# Docker volumes and data
pgdata/
redisdata/
media_volume/
static_volume/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# PyCharm
.idea/

# Others
*.swp
*~
testing.txt
